/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
    /*background-image: url(':img/.2');
    background-size: cover;
    background-repeat: no-repeat;*/
}
.color{
    color: deeppink;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

h1{
    color:deeppink;
    /*font-family: 'Satisfy', cursive;*/
    font-family: 'Dancing Script', cursive;
}

img:hover{
   
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* .tam{ // en videos, contactes... class="tam"
    width: 1000px;
}>*/


@font-face{
font-family: miletra;
src: url(Smiling Quotes.ttf);
}
h4{
    font-family: miletra;
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}
/* CSS para la animación y localización de los DIV de cookies 
*/
@keyframes desaparecer{
0% {bottom: 0px;}
80% {bottom: 0px;}
100% {bottom: -50px;}
}
@-webkit-keyframes desaparecer /* para que se vea en Safari and Chrome */
{
0% {bottom: 0px;}
80% {bottom: 0px;}
100% {bottom: -50px;}
}
/*dona les cordenades per crear cjitas*/
@keyframes aparecer
{
0% {bottom: -38px;}
10% {bottom: 0px;}
90% {bottom: 0px;}
100% {bottom: -38px;}
}
@-webkit-keyframes aparecer /* Safari and Chrome */
{
0% {bottom: -38px;}
10% {bottom: 0px;}
90% {bottom: 0px;}
100% {bottom: -38px;}
}
#cookiesms1:target {
 display: none;
}
.cookiesms{
width:100%;
height:43px;
margin:0 auto;
padding-left:1%;
 padding-top:5px;
     font-size: 1.2em;
clear:both;
 font-weight: strong;
color: #333;
bottom:0px;
position:fixed;
left: 0px;
background-color: #FFF;
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
transition: bottom 1s;
-webkit-transition:bottom 1s; /* Safari */
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
z-index:999999999;
}
.cookiesms:hover{
bottom:0px;
}
.cookies2{
background-color: #FFF;
display:inline;
opacity:0.95;
filter:alpha(opacity=95);
position:absolute;
left:1%;
top:-30px;
font-size:15px;
height:30px;
padding-left:25px;
padding-right:25px;
-webkit-border-top-right-radius: 15px;
-webkit-border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-topleft: 15px;
    border-top-right-radius: 15px;
border-top-left-radius: 15px;
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
}
/* Fin del CSS para cookies */
/* ----------------------------------------------
 * Generated by Animista on 2022-2-24 18:58:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2022-2-28 9:45:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2022-2-28 9:50:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.navbar-custom {
    background-color: #FFB9F2;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.90);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ED00B7;
}
